{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>

    <link rel="stylesheet" href="{% static '/css/cadastro.css' %}">

</head>
<body>
    <section class="form">
        <div class="card">
            <h2>Realize seu cadastro</h2>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
                <input type="email" name="email" id="email" placeholder="Digite seu email">
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha">

                <input type="submit" value="Cadastrar" id="btn">
            </form>
        </div>
        
    </section>


    <script src="{% static '/js/cadastro.js' %}"></script>
</body>
</html>