{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamento - inicio</title>

    <link rel="stylesheet" href="{% static '/css/home.css' %}">

</head>
<body>
    <section class="nav-bar">
        <nav class="nav">
            <h1>BMvix</h1>

            <ul class="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Orçamentos</a></li>
            </ul>

            <div class="btn-logout">
                <button type="submit" id="btn">Sair</button>
            </div>
        </nav>
    </section>

    <section class="orcamento">
        <div class="solicita-orcamento">
            <form action="" method="post">
                <input type="text" name="nome" id="nome" placeholder="Digite o nome do cliente">
                <input type="text" name="cnpj" id="cnpj" placeholder="Digite o CNPJ do cliente">

                <div class="inputs1">
                    <input type="text" name="control" id="control" placeholder="Possui relógio controlid">
                    <input type="text" name="relogio" id="relogio" placeholder="Possui relógio inmetro">
                </div>

                <div class="inputs2">
                    <input type="text" name="funcionarios" id="funcionarios" placeholder="QTD. funcionários ativos">
                    <input type="text" name="app" id="app" placeholder="Precisa de aplicativo">
                </div>
                
                <input type="submit" value="Gerar Orçamento" id="btn-orcamento">
            </form>
        </div>

        <div class="orcamento-gerado">
            <h2>teste</h2>
        </div>
    </section>
</body>
</html>