{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orçamento - inicio</title>

    <link rel="stylesheet" href="{% static '/css/home.css' %}">

</head>
<body>
    <section class="nav-bar">
        <nav class="nav">
            <h1>BMvix</h1>

            <ul class="menu">
                <li><a href="#">Início</a></li>
                <li><a href="#">Orçamentos</a></li>
            </ul>

            <div class="btn-logout">
                <a href="{% url 'logout' %}" id="btn">Sair</a>
            </div>
        </nav>
    </section>

    <section class="orcamento">
        <div class="solicita-orcamento">
            <form action="" method="post">
                {% csrf_token %}

                {{ form.as_p }}
                
                <button type="submit" value="Gerar Orçamento" id="btn-orcamento" onclick="event.preventDefault(); gerarOrcamento();">Gerar Orçamento</button>
            </form>
        </div>

        <div class="orcamento-gerado" id="resultadoDiv">
            <h2>Opções de sistema ideal para esse cliente:</h2>
            <p>Cliente:{{ nome_cliente }}</p>
            <p>CNPJ:{{ cnpj }}</p>

        </div>
    </section>


    <script src="{% static '/js/home.js' %}"></script>
    <script src="{% static '/js/home2.js' %}"></script>
</body>
</html>