* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

body {
    background: #545454;
    width: 100vw;
    height: 100vh;
}

.nav-bar {
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color: #510D0A;
}

.nav h1 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.menu a {
    position: relative;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
}

.menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#btn {
    cursor: pointer;
    width: 100px;
    padding: 4px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    transition: .2s all;
}

#btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.orcamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.solicita-orcamento form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 150px;
    margin-left: 170px;
}

label {
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

#id_nome_cliente,
#id_cnpj {
    width: 380px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#id_possui_control_id,
#id_precisa_aplicativo,
#id_possui_relogio_inmetro,
#id_funcionarios_ativos {
    border-radius: 10px;
    border: none;
}

#btn-orcamento {
    cursor: pointer;
    margin-top: 30px;
    width: 220px;
    padding: 13px;
    border: none;
    border-radius: 10px;
    background-color: #510D0A;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    transition: .2s all;
}

#btn-orcamento:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.orcamento-gerado {
    display: none;
    width: 450px;
    height: 500px;
    background-color: #FFFFFF;
    margin-top: 80px;
    margin-left: 80px;
    border-radius: 10px;
    padding: 20px;
}

.orcamento-gerado h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.orcamento-gerado p {
    font-size: 16px;
    margin-bottom: 15px;
}

.resultado {
    display: flex;
    flex-direction: column;
}

.resultado li {
    margin-top: 20px;
    margin-bottom: 20px;
}

#btnLink {
    font-size: 13px;
    font-weight: 300;
    margin-left: 8px;
    color: #510D0A;
    text-align: center;
}

.orcamento-gerado h5 {
    font-size: 19px;
    font-weight: 400;
    margin-top: 75px;
    text-align: center;
}