* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
    background-color: #545454;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #FFFFFF;
    width: 450px;
    height: 350px;
    padding: 20px;
    border-radius: 8px;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.card h2 {
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#username,
#senha {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #d8d7d7;
    color: #000;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.link a {
    color: #6A605C;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 0 8px 0;
}

#btn {
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    background-color: #510D0A;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 20px;
}